*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    border: solid red 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    
}

.item{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid green 2px;
}

